body{
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

header{
  background-color: teal;
  height: 3em;
  width: 100%;
  position: fixed;
  z-index: 999999;
}

header nav{
  text-align: right; 
  width: 100%;
}

header a{
  color: white;
  text-decoration: none;
  line-height: 30px;
}

header a:hover{
  color:rgb(223, 161, 150);
}

header ul li{
  list-style-type: none;
  display: inline-block;
  margin: 0% 2%;
}

.sbLink{
  font-weight: bold;
  margin-left: 5%;
  width: 30% !important;  
}

.fa-bars{
  color: white;
}

.menu{
  width: 60% !important;
  float: right !important;
}

.barsContainer{
  width: 20% !important;
  float: right !important;  
}

.displayMenu{
  width: 3em;
  border: 1px solid white;
  border-radius: 3px;
  background-color: transparent;
  display: none;
}

.home{
  height: 500px;
  background-image: url(../../assets/img/yarn.jpg);
  background-color: rgb(57, 87, 78);
  background-blend-mode: color-dodge;
}

.home .col-12{
  text-align: center;
}

.home h1{
  color: rgb(13, 51, 43);
  font-size: 4em;
  margin-top:3em;
}

.aboutUs{
  width: 100%;
  padding: 2% 5%;
  margin: auto;
  text-align: justify;
}

.aboutUs .col-8{
  width: 66.6666667%;
}

.aboutUs .col-4{
  width: 33.3333333%;  
}

.btnCall{
  padding: 2%;
  border-radius: 5px;
  background-color: teal;
  color: white;
  border: none;
}

.ourProducts{
  width: 100%;
  padding-left: 5%;  
  margin: auto;  
  text-align: justify;
}

.product{
  border-radius: 5px;
  padding: 0% !important;
  margin-bottom: 3em;
}
.innerProduct{
  padding: 0px !important;  
  width: 300px;  
  border-top: 1px solid teal;
  border-left: 1px solid teal;
  border-right: 1px solid teal;
  border-bottom: 1px solid lightgray;  
  border-radius: 5px 5px 0 0 ;  
}

.innerProduct .col-12{
  padding: 0px !important;
}

.product img{
  width: 298px !important;
  border-radius: 5px 5px 0px 0px;
  margin: 0px;
}

.product h3 {
  padding: 0 5%;  
  width: 300px;  
  margin: 2% 0%;  
}

.product p{
  width: 300px;  
  padding: 0 5% 5%;
  margin: 2% 0%;
  height: 6em;
}

.btnFindContainer{
  width: 300px;  
  padding: 2% 3%;
  border-radius: 5px;
  background-color: rgb(227, 248, 246);
  border-radius: 0 0 5px 5px;
  border: 1px solid teal; 
  
}

.btnFind{
  padding: 3% 5%;
  background-color: teal;
  color: white;
  border: none;
  border-radius: 5px;
}

footer .col-12{
  background-color: teal;
  color: white;
  height: 10%;
  line-height: 40px;
  padding: 0% !important;
}

button:hover{
  background-color: turquoise;
  color: teal;
}

footer{
  text-align: center;
}