@media (min-width: 701px) and (max-width: 976px){
  [class*='col-']{
    width: 100%;
  } 
  .innerProduct{
    margin: auto;
  }
  .btnFindContainer{
    margin: auto;
  }
}

@media (max-width: 700px){
  [class*='col-']{
    width: 100%;
  }  
  .menu{
    display: none;
  }
  .barsContainer{
    display: inline-block;
  }
  .displayMenu{
    display: inline-block;
  }
  .sbLink{
    width:50% !important;    
  }
  .aboutUs .col-8{
    width: 100%;
  }  
  .aboutUs .col-4{
    width: 100%;  
  }
  .innerProduct{
    margin: auto;
  }
  .btnFindContainer{
    margin: auto;
  }
}